<!DOCTYPE html>
<html>

<body>
<div style="display:inline-block;vertical-align:top;width:300px;margin:20px auto;color:#333;background:#fff;border:1px solid #ddd;line-height:1.2;text-decoration:none;padding:0">
<a href="https://read.bookcreator.com/5MTtjzWuNRgVdU6XmBg1aJp8qQWeC18znvAL63URXrB1ZEl2m6jMFA/XmTvg_uCRGCPZtXt_xonMQ" style="display:block;color:#333;line-height:1.2;text-decoration:none;text-align:left;padding:0;font-weight:normal" target="_blank">
<img src="https://assets.api.bookcreator.com/5MTtjzWuNRgVdU6XmBg1aJp8qQWeC18znvAL63URXrB1ZEl2m6jMFA/books/XmTvg_uCRGCPZtXt_xonMQ/cover/share" style="max-height:300px;max-width:100%;display:block;margin:0 auto;padding:0;border:none" alt="Johnathan and the magic book. Part l"/></a>
<div style="display:block;padding:20px;overflow:hidden;overflow-x:hidden;border-top:1px solid #ddd">
<div style="display:block;color:#333;line-height:1.2;text-decoration:none;text-align:left;padding:0;font-weight:normal;font-size:21px;margin:0 0 0.25em">
<a href="https://read.bookcreator.com/5MTtjzWuNRgVdU6XmBg1aJp8qQWeC18znvAL63URXrB1ZEl2m6jMFA/XmTvg_uCRGCPZtXt_xonMQ" style="display:block;color:#333;line-height:1.2;text-decoration:none;text-align:left;padding:0;font-weight:normal" target="_blank">Johnathan and the magic book. Part l</a>
</div>
<div style="display:block;color:#333;line-height:1.2;text-decoration:none;text-align:left;padding:0;font-weight:normal;font-size:16px;margin:0 0 0.5em">
<a href="https://read.bookcreator.com/5MTtjzWuNRgVdU6XmBg1aJp8qQWeC18znvAL63URXrB1ZEl2m6jMFA/XmTvg_uCRGCPZtXt_xonMQ" style="display:block;color:#333;line-height:1.2;text-decoration:none;text-align:left;padding:0;font-weight:normal" target="_blank">Click to read this book, made with Book Creator</a>
</div>
<div style="display:block;color:#455a64;line-height:1.2;text-decoration:none;text-align:left;padding:0;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px">
<a href="https://read.bookcreator.com/5MTtjzWuNRgVdU6XmBg1aJp8qQWeC18znvAL63URXrB1ZEl2m6jMFA/XmTvg_uCRGCPZtXt_xonMQ" style="display:block;color:#333;line-height:1.2;text-decoration:none;text-align:left;padding:0;font-weight:normal" target="_blank">https://read.bookcreator.com</a>
</div>
</div>
</div>

<script> 
function setbackground() { 
window.setTimeout("setbackground()", 5000); // 5000 milliseconds delay 
var index = Math.round(Math.random() * 9); 
var ImagePath = "./20200712_105459(1).jpg"; // default image 
if(index == 1) ImagePath = "./upload.png"; 
if(index == 2) ImagePath = "./Mike_Fiers_monkey_tail_beard.jpg"; 
if(index == 3) ImagePath = "./Resized_542137175533_647_112_copyImage(1).jpg"; 
if(index == 4) ImagePath = "./amazing-beach-sunset--beach-scene-with-relaxing-mood--817362204-5a9a234d31283400376e45af.jpg"; 
if(index == 5) ImagePath = "./favicon.ico"; 
if(index == 6) ImagePath = "./list.png"; 
if(index == 7) ImagePath = "./logo512.png"; 
if(index == 8) ImagePath = "./monkey-tail-beard12.jpg"; 
if(index == 9) ImagePath = "./upload.png"; 
document.getElementByTagName("body")[0].style.backgroundImage="url('"+ImagePath+"')" 
} 
</script> 
</body>
<script>
<body onload="setbackground();">
</script>
</html>
